.hljs {
    color: #e9e9f4;
    background: #28293629;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    font-size: 15px;
}

#message-input {
    margin-right: 30px;
    height: 80px;
}

#message-input::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#message-input::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#message-input::-webkit-scrollbar-thumb {
    background: #c7a2ff; 
}

/* Handle on hover */
#message-input::-webkit-scrollbar-thumb:hover {
    background: #8b3dff; 
}